.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 970px;
  height: 510px;
  border: thin solid gray;
  background-color: #fff;
}

.messages {
  flex: 1.3;
  width: 100%;
  height: 100%;
  border-right: 1px solid gray;
}

.void {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-head {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: thin solid grey;
}

.direct {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

.direct h3 {
  font-size: 1.3rem;
}

.edit {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.5rem;
}

.edit .fas {
  font-size: 25px;
}

.inbox-head {
  width: 100%;
  height: 50px;
  border-bottom: thin solid grey;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary h3 {
  margin-left: 1rem;
  text-transform: uppercase;
}

.requests {
  margin-right: 1rem;
  color: #0095f6;
}
